
.container1 {
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 20px;
}

.banner {
    background-image: url(/public/imagens/london.jpg);
}

.secao1 button {
    color: white;
    background-color: gray;
    border: none;
}

h4, label {
    color: #fff;
}

