
.head{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    height: 30px;
    margin-bottom: 30px;
}

.main-banner {
    display: flex;
}

.main-banner-content {
    top: 50px;
    justify-content: center;
}

.icons {
    flex-direction: column;
}


